<aside>
  <nav>
    <a routerLink="accueil/armees" title="Créer des armées">
      <img src="assets/images/pictos/armoiries.png" alt="Créer des armées">
      <p>Armées</p>
    </a>
    <a routerLink="accueil/compagnies" title="Créer des compagnies">
      <img src="assets/images/pictos/bouclier.png" alt="Créer des compagnies">
      <p>Compagnies</p>
    </a>
    <a routerLink="accueil/unites" title="Créer des unités">
      <img src="assets/images/pictos/bataille.png" alt="Créer des unités">
      <p>Unités</p>
    </a>
  </nav>
  <nav>
    <a routerLink="accueil/armurerie" title="Aller à l'armurerie">
      <img src="assets/images/pictos/casque_2.png" alt="Aller à l'armurerie">
      <p>Armurerie</p>
    </a>
    <a routerLink="accueil/compagnies" title="Races & créatures">
      <img src="assets/images/pictos/creatures.png" alt="Races & créatures">
      <p>Races & créatures</p>
    </a>
  </nav>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
<aside>
  <nav>
    <a routerLink="bataille" title="Sur le champ de bataille">
      <img src="assets/images/pictos/combat.png" alt="Sur le champ de bataille">
      <p>Champ de bataille</p>
    </a>
  </nav>
</aside>
