
:host{
  flex-flow:row nowrap;
}
aside:nth-child(1) {
  justify-content: space-between;
}
aside:nth-child(1) nav{
  border-right: 1px solid black;
}
aside:nth-child(3) nav{
  border-left: 1px solid black;
  margin:auto;
  height:300px;
  justify-content: center;
}
main{
  width:calc(100vw - 200px);
}
