<aside>
  <nav>
    <a routerLink="creer" title="Créer des armées">
      <img src="assets/images/pictos/armoiries.png" alt="Créer des armées">
      <p>{{ l.t['ARMEES'] }}</p>
    </a>
    <a routerLink="compagnies" title="Créer des compagnies">
      <img src="assets/images/pictos/bouclier.png" alt="Créer des compagnies">
      <p>{{ l.t['COMPAGNIES'] }}</p>
    </a>
    <a routerLink="unites" title="Créer des unités">
      <img src="assets/images/pictos/bataille.png" alt="Créer des unités">
      <p>{{ l.t['UNITES'] }}</p>
    </a>
  </nav>
  <nav>
    <a routerLink="armurerie" title="Aller à l'armurerie">
      <img src="assets/images/pictos/casque_2.png" alt="Aller à l'armurerie">
      <p>{{ l.t['ARMURERIE'] }}</p>
    </a>
    <a routerLink="creatures" title="Races & créatures">
      <img src="assets/images/pictos/creatures.png" alt="Races & créatures">
      <p>{{ l.t['CREATURES'] }}</p>
    </a>
  </nav>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
<aside>
  <nav>
    <a routerLink="/batailles" title="Sur le champ de bataille">
      <img src="assets/images/pictos/combat.png" alt="Sur le champ de bataille">
      <p>Champ de bataille</p>
    </a>
  </nav>
</aside>
