<header>
  <h1>{{ l.t['COMPAGNIES']}} ({{ d.campagne!.nom }})</h1>
  <p>{{ l.t['COMPAGNIES_DESCR']}}</p>
</header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- LISTE DES compagnieS -->
  <mat-tab [label]="l.t['COMPAGNIES']">
    <!-- FILTRER LES compagnieS -->
    <mat-form-field>
      <mat-label>{{ l.t['FILTRER'] }}</mat-label>
      <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- LISTE DES compagnieS -->
    <mat-accordion>
      @for (c of d.docs.compagnies | triCompagnies:filtre; track c.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img [src]="c.avatar" [alt]="c.nom" class="avatar">
            <h5>{{ c.nom }}</h5>
          </mat-panel-title>
          <mat-panel-description>
            <span></span>
            <span><img [src]="c.statut | statuts" [alt]="c.nom"></span>
            <span>
              <img src="assets/images/pictos/del.png" [alt]="l.t['DE']">
              <img src="assets/images/pictos/up.png" [alt]="l.t['UP']">
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ c.descr }}</p>
        <table>
          <thead>
            <tr>
              <td>{{ l.t['NOM'] }}</td>
              <td>{{ l.t['RACE'] }}</td>
              <td>{{ l.t['CAC'] }}</td>
              <td>{{ l.t['JET'] }}</td>
              <td>{{ l.t['ARMURE'] }}</td>
              <td>{{ l.t['BOUCLIER'] }}</td>
              <td>{{ l.t['PV_MAX'] }}</td>
              <td>{{ l.t['PV'] }}</td>
              <td>{{ l.t['MONTURE'] }}</td>
              <td>{{ l.t['XP'] }}</td>
              <td>{{ l.t['STATUT'] }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            @for (u of c.unites; track $index) {
            <tr>
              <td>{{ d.docs.unites[u].nom }}</td>
              <td>{{ d.getCompagniesUnites('races', u).nom }}</td>
              <td>{{ d.getCompagniesUnites('cac', u).nom }}</td>
              <td>{{ d.getCompagniesUnites('jet', u).nom }}</td>
              <td>{{ d.getCompagniesUnites('armures', u).nom }}</td>
              <td>{{ d.getCompagniesUnites('boucliers', u).nom }}</td>
              <td>{{ d.docs.unites[u].pvMax }}</td>
              <td>{{ d.docs.unites[u].pv }}</td>

              <td>{{ d.getCompagniesUnites('montures', u).nom }}</td>
              <td>{{ d.docs.unites[u].xp }}</td>
              <td><img [src]="d.docs.unites[u].etat | statuts"></td>
              <td>
                <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone annule">restart_alt</mat-icon></a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </mat-expansion-panel>
      }
      @empty {
      Il n'existe pas encore d'armée
      }
    </mat-accordion>
  </mat-tab>
  <!-- CREER UNE compagnie -->
  <mat-tab [label]="l.t['COMPAGNIES_CREER']" (click)="initCompagnie()">
    <header>
      <!-- <div class="row">
                <h5>{{ l.t['UNITE_TYPE'] }}</h5>
                <p>{{ l.t['UNITE_TYPE_DESCR'] }}</p>
            </div> -->
      <form>
        <article>
          <mat-form-field>
            <mat-label>{{ l.t['NOM'] }}*</mat-label>
            <input matInput [placeholder]="l.t['NOM']" name="nom" [(ngModel)]="compagnie.nom" required>
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ l.t['DESCR'] }}</mat-label>
            <input matInput [placeholder]="l.t['DESCR']" name="descr" [(ngModel)]="compagnie.descr">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ l.t['MORAL'] }}</mat-label>
            <input matInput [placeholder]="l.t['MORAL']" name="moral" [(ngModel)]="compagnie.moral" type="number">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ l.t['MUNITIONS'] }}</mat-label>
            <input matInput [placeholder]="l.t['MUNITIONS']" name="munitions" [(ngModel)]="compagnie.munitions"
              type="number">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ l.t['ARMEE'] }}*</mat-label>
            <mat-select [placeholder]="l.t['ARMEE']" name="armee" [(ngModel)]="compagnie.armee" required>
              @for (a of d.docs.armees; track a.id) {
              <mat-option [value]="a.id">{{a.nom}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ l.t['COMMANDANT'] }}*</mat-label>
            <mat-select [placeholder]="l.t['COMMANDANT']" name="commandant" [(ngModel)]="compagnie.commandant" required>
              @for (com of d.docs.unites | pj; track com.id) {
              <mat-option [value]="com.id">{{com.nom}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </article>
        <article>
          <mat-radio-group aria-label="Sélectionner un avatar pour la compagnie" name="avatar"
            [(ngModel)]="compagnie.avatar" required>
            <mat-label>{{ l.t['AVATAR'] }}*</mat-label>
            <mat-radio-button value="assets/images/avatars/armees/armor_n.png"><img
                src="assets/images/avatars/armees/armor_n.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/horses.png"><img
                src="assets/images/avatars/armees/horses.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/magic-wand.png"><img
                src="assets/images/avatars/armees/magic-wand.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/shield_n.png"><img
                src="assets/images/avatars/armees/shield_n.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/spellbook.png"><img
                src="assets/images/avatars/armees/spellbook.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/spear.png"><img
                src="assets/images/avatars/armees/spear.png"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/sword.png"><img
                src="assets/images/avatars/armees/sword.png"></mat-radio-button>
          </mat-radio-group>
        </article>
        <hr>
        <article>
          <mat-form-field>
            <mat-label>{{ l.t['UNITE_GENERE'] }}</mat-label>
            <mat-select [placeholder]="l.t['UNITE_TYPE_SEL']" name="unites" [(ngModel)]="unitesTypes" multiple>
              @for (u of d.docs.unites | triUnites:filtreUnites:filtreRaces; track u.id) {
              <mat-option [value]="u">{{u.nom}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </article>
        @if(unitesTypes.length > 0){
        <article>
          <table>
            <thead>
              <tr>
                <th>{{ l.t['NOM'] }}</th>
                <th>{{ l.t['RACE'] }}</th>
                <th>{{ l.t['CAC'] }}</th>
                <th>{{ l.t['JET'] }}</th>
                <th>{{ l.t['ARMURE'] }}</th>
                <th>{{ l.t['BOUCLIER'] }}</th>
                <th>{{ l.t['PV_MAX'] }}</th>
                <th>{{ l.t['PV'] }}</th>
                <th>{{ l.t['MONTURE'] }}</th>
                <th>{{ l.t['XP'] }}</th>
                <th>{{ l.t['STATUT'] }}</th>
              </tr>
            </thead>
            <tbody>
              @for(uniteType of unitesTypes; track uniteType.id){
              <tr>
                <td>{{ uniteType.nom }}</td>
                <td>{{ d.getCompagniesUnites('races', uniteType.id).nom }}</td>
                <td>{{ d.getCompagniesUnites('cac', uniteType.id).nom }}</td>
                <td>{{ d.getCompagniesUnites('jet', uniteType.id).nom }}</td>
                <td>{{ d.getCompagniesUnites('armures', uniteType.id).nom }}</td>
                <td>{{ d.getCompagniesUnites('boucliers', uniteType.id).nom }}</td>
                <td>{{ uniteType.pvMax }}</td>
                <td>{{ uniteType.pv }}</td>
                <td>{{ d.getCompagniesUnites('montures', uniteType.id).nom }}</td>
                <td>{{ uniteType.xp }}</td>
                <td><img [src]="uniteType.etat | statuts"></td>
              </tr>
              }
            </tbody>
          </table>
        </article>
        <article>
          <!-- DUPLICATION -->
          <fieldset>
            <mat-checkbox name="aleaRaces" [(ngModel)]="aleas.race">{{ l.t['RACES'] }}</mat-checkbox>
            <mat-checkbox name="aleaCac" [(ngModel)]="aleas.cac">{{ l.t['CAC'] }}</mat-checkbox>
            <mat-checkbox name="aleaJet" [(ngModel)]="aleas.jet">{{ l.t['JET'] }}</mat-checkbox>
            <mat-checkbox name="aleaArmures" [(ngModel)]="aleas.armure">{{ l.t['ARMURES'] }}</mat-checkbox>
            <mat-checkbox name="aleaBoucliers" [(ngModel)]="aleas.bouclier">{{
              l.t['BOUCLIERS']}}</mat-checkbox>
          </fieldset>
        </article>
        <article>
          <fieldset>
            <mat-label>{{ l.t['UNITES_DUPLIQUE'] }} : </mat-label>
            <span class="petit">0</span>
            <mat-slider min=0 max=1000 step=1 showTickMarks discrete [(ngModel)]="aleas.n" name="aleaN"
              ngDefaultControl>
              <input matSliderThumb>
            </mat-slider>
            <span class="petit">1000</span>
          </fieldset>
          <fieldset>
            <mat-label>{{ l.t['ALEA'] }} : </mat-label>
            <span class="petit">0</span>
            <mat-slider min=0 max=100 step=1 showTickMarks discrete [(ngModel)]="aleas.pourcent" name="aleaPourcent"
              ngDefaultControl>
              <input matSliderThumb>
            </mat-slider>
            <span class="petit">100</span>
          </fieldset>

          <fieldset>
            <button class="del" (click)="unitesGenerees = []"><mat-icon matSuffix>cancel</mat-icon>{{
              l.t['ANNULE']
              }}</button>
            @if(unitesGenerees.length > 0){
            <button class="annule" (click)="genereUnites()"><mat-icon matSuffix>restart_alt</mat-icon>{{
              l.t['RELANCER']
              }}</button>
            }@else{
            <button class="valide" (click)="genereUnites()"><mat-icon matSuffix>done</mat-icon>{{
              l.t['UNITE_GENERE']
              }}</button>
            }
          </fieldset>

        </article>
        }
      </form>
    </header>
    @if(unitesGenerees.length > 0){
    <table>
      <thead>
        <tr>
          <td>{{ l.t['NOM'] }}</td>
          <td>{{ l.t['RACE'] }}</td>
          <td>{{ l.t['CAC'] }}</td>
          <td>{{ l.t['JET'] }}</td>
          <td>{{ l.t['ARMURE'] }}</td>
          <td>{{ l.t['BOUCLIER'] }}</td>
          <td>{{ l.t['PV_MAX'] }}</td>
          <td>{{ l.t['PV'] }}</td>
          <td>{{ l.t['MONTURE'] }}</td>
          <td>{{ l.t['XP'] }}</td>
          <td>{{ l.t['STATUT'] }}</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        @for (u of unitesGenerees | slice:pagination.min:pagination.max; track $index) {
        <tr>
          <td>{{ u.nom }}</td>
          <td>{{ d.getCompagniesUnites('races', u.race).nom }}</td>
          <td>{{ d.getCompagniesUnites('cac', u.cac!).nom }}</td>
          <td>{{ d.getCompagniesUnites('jet', u.jet!).nom }}</td>
          <td>{{ d.getCompagniesUnites('armures', u.armure!).nom }}</td>
          <td>{{ d.getCompagniesUnites('boucliers', u.bouclier!).nom }}</td>
          <td>{{ u.pvMax }}</td>
          <td>{{ u.pv }}</td>

          <td>{{ d.getCompagniesUnites('montures', u.monture!).nom }}</td>
          <td>{{ u.xp }}</td>
          <td><img [src]="u.etat | statuts"></td>
          <td>
            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
            <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone annule">restart_alt</mat-icon></a>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <mat-paginator [length]="unitesGenerees.length" (page)="setPagination($event)" [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50, 100, 250]" aria-label="Avancer dans les unitées">
    </mat-paginator>

    <article>
      <button class="del" (click)="unitesGenerees = []" type="reset"><mat-icon matSuffix>cancel</mat-icon>{{
        l.t['ANNULE']
        }}</button>
      <button class="valide"><mat-icon matSuffix>done</mat-icon>{{ l.t['COMPAGNIE_SAVE']
        }}</button>
    </article>
    }
  </mat-tab>
</mat-tab-group>
