<header>
    <h1>{{ l.t['COMPAGNIES']}}</h1>
    <p>{{ l.t['COMPAGNIES_DESCR']}}</p>
</header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <!-- LISTE DES compagnieS -->
    <mat-tab [label]="l.t['COMPAGNIES']">

        <!-- FILTRER LES compagnieS -->
        <mat-form-field>
            <mat-label>{{ l.t['FILTRER'] }}</mat-label>
            <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- LISTE DES compagnieS -->
        <mat-accordion>
            @for (c of d.compagnies | triCompagnies:filtre; track c.id) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>{{ c.nom }}</h5>
                    </mat-panel-title>
                    <mat-panel-description>
                        <span></span>
                        <span><img [src]="c.statut | statuts" [alt]="c.nom"></span>
                        <span>
                            <img src="assets/images/pictos/del.png" [alt]="l.t['DE']">
                            <img src="assets/images/pictos/up.png" [alt]="l.t['UP']">
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ c.descr }}</p>
                <table>
                    <thead>
                        <tr>
                            <td>{{ l.t['NOM'] }}</td>
                            <td>{{ l.t['RACE'] }}</td>
                            <td>{{ l.t['CAC'] }}</td>
                            <td>{{ l.t['JET'] }}</td>
                            <td>{{ l.t['ARMURE'] }}</td>
                            <td>{{ l.t['BOUCLIER'] }}</td>
                            <td>{{ l.t['PV_MAX'] }}</td>
                            <td>{{ l.t['PV'] }}</td>
                            <td>{{ l.t['MONTURE'] }}</td>
                            <td>{{ l.t['XP'] }}</td>
                            <td>{{ l.t['STATUT'] }}</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (u of c.unites; track $index) {
                        <tr>
                            <td>{{ d.unites[u].nom }}</td>
                            <td>{{ d.getCompagniesUnites('races', u).nom }}</td>
                            <td>{{ d.getCompagniesUnites('cac', u) }}</td>
                            <td>{{ d.getCompagniesUnites('jet', u) }}</td>
                            <td>{{ d.getCompagniesUnites('armures', u) }}</td>
                            <td>{{ d.getCompagniesUnites('boucliers', u) }}</td>
                            <td>{{ d.unites[u].pvMax }}</td>
                            <td>{{ d.unites[u].pv }}</td>

                            <td>{{ d.getCompagniesUnites('montures', u).nom }}</td>
                            <td>{{ d.unites[u].xp }}</td>
                            <td><img [src]="d.unites[u].etat | statuts"></td>
                            <td>
                                <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                                <a><img src="assets/images/pictos/plus.png" [alt]="l.t['VALIDE']"></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </mat-expansion-panel>
            }
            @empty {
            Il n'existe pas encore d'armée
            }
        </mat-accordion>
    </mat-tab>
    <!-- CREER UNE compagnie -->
    <mat-tab [label]="l.t['COMPAGNIES_CREER']">
        <header>
            <form>
                <mat-form-field>
                    <mat-label>{{ l.t['FILTRE_NOM'] }}</mat-label>
                    <input matInput [placeholder]="l.t['FILTRE_NOM']" name="filtreUnites" [(ngModel)]="filtreUnites">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ l.t['RACES'] }}</mat-label>
                    <mat-select [(ngModel)]="filtreRaces" name="raceUnites" [placeholder]="l.t['FILTRE_RACE']">
                        <mat-option>---</mat-option>
                        @for (r of d.races; track r.id) {
                        <mat-option [value]="r.id">{{r.nom}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ l.t['UNITE_TYPE'] }}</mat-label>
                    <mat-select [placeholder]="l.t['FILTRE_U']" name="unites" [(ngModel)]="uniteType">
                        @for (u of d.unites | triUnites:filtreUnites:filtreRaces; track u.id) {
                        <mat-option [value]="u">{{u.nom}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
            @if(uniteType){
            <h3>{{ l.t['UNITE_TYPE'] }}</h3>
            <p>{{ l.t['UNITE_TYPE_DESCR'] }}</p>
            <table>
                <thead>
                    <tr>
                        <td>{{ l.t['NOM'] }}</td>
                        <td>{{ l.t['RACE'] }}</td>
                        <td>{{ l.t['CAC'] }}</td>
                        <td>{{ l.t['JET'] }}</td>
                        <td>{{ l.t['ARMURE'] }}</td>
                        <td>{{ l.t['BOUCLIER'] }}</td>
                        <td>{{ l.t['PV_MAX'] }}</td>
                        <td>{{ l.t['PV'] }}</td>
                        <td>{{ l.t['MONTURE'] }}</td>
                        <td>{{ l.t['XP'] }}</td>
                        <td>{{ l.t['STATUT'] }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ uniteType.nom }}</td>
                        <td>{{ d.getCompagniesUnites('races', uniteType.id).nom }}</td>
                        <td>{{ d.getCompagniesUnites('cac', uniteType.id) }}</td>
                        <td>{{ d.getCompagniesUnites('jet', uniteType.id) }}</td>
                        <td>{{ d.getCompagniesUnites('armures', uniteType.id) }}</td>
                        <td>{{ d.getCompagniesUnites('boucliers', uniteType.id) }}</td>
                        <td>{{ uniteType.pvMax }}</td>
                        <td>{{ uniteType.pv }}</td>

                        <td>{{ d.getCompagniesUnites('montures', uniteType.id).nom }}</td>
                        <td>{{ uniteType.xp }}</td>
                        <td><img [src]="uniteType.etat | statuts"></td>
                    </tr>
                </tbody>
            </table>

            <!-- DUPLICATION -->
            <form>
                <fieldset>
                    <mat-label>{{ l.t['UNITES_DUPLIQUE'] }} : </mat-label>
                    <span class="petit">0</span>
                    <mat-slider min="0" max="500" step="1" showTickMarks discrete [(ngModel)]="n">
                        <input matSliderThumb>
                    </mat-slider>
                    <span class="petit">500</span>
                </fieldset>
                <fieldset>
                    <mat-label>{{ l.t['ALEA'] }} : </mat-label>
                    <span class="petit">0</span>
                    <mat-slider min="0" max="100" step="1" showTickMarks discrete [(ngModel)]="alea">
                        <input matSliderThumb>
                    </mat-slider>
                    <span class="petit">100</span>
                </fieldset>

                <fieldset>
                    <button class="del" (click)="unitesGenerees = []"><mat-icon matSuffix>delete</mat-icon>{{
                        l.t['ANNULE']
                        }}</button>
                    <button class="annule" type="reset"><mat-icon matSuffix>restart_alt</mat-icon>{{ l.t['RELANCER']
                        }}</button>
                    <button class="valide"><mat-icon matSuffix>done</mat-icon>{{ l.t['CREER'] }}</button>
                </fieldset>
            </form>
            }
        </header>
        @if(unitesGenerees.length > 0){
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['RACE'] }}</td>
                    <td>{{ l.t['CAC'] }}</td>
                    <td>{{ l.t['JET'] }}</td>
                    <td>{{ l.t['ARMURE'] }}</td>
                    <td>{{ l.t['BOUCLIER'] }}</td>
                    <td>{{ l.t['PV_MAX'] }}</td>
                    <td>{{ l.t['PV'] }}</td>
                    <td>{{ l.t['MONTURE'] }}</td>
                    <td>{{ l.t['XP'] }}</td>
                    <td>{{ l.t['STATUT'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (u of unitesGenerees; track $index) {
                <tr>
                    <td>{{ u.nom }}</td>
                    <td>{{ d.getCompagniesUnites('races', u.race).nom }}</td>
                    <td>{{ d.getCompagniesUnites('cac', u.cac!) }}</td>
                    <td>{{ d.getCompagniesUnites('jet', u.jet!) }}</td>
                    <td>{{ d.getCompagniesUnites('armures', u.armure!) }}</td>
                    <td>{{ d.getCompagniesUnites('boucliers', u.bouclier!) }}</td>
                    <td>{{ u.pvMax }}</td>
                    <td>{{ u.pv }}</td>

                    <td>{{ d.getCompagniesUnites('montures', u.monture!).nom }}</td>
                    <td>{{ u.xp }}</td>
                    <td><img [src]="u.etat | statuts"></td>
                    <td>
                        <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                        <a><img src="assets/images/pictos/plus.png" [alt]="l.t['VALIDE']"></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
    </mat-tab>
</mat-tab-group>