<header>
  <h1>{{ l.t['BATAILLES'] }} ({{ d.campagne!.nom }})</h1>
  <p>{{ l.t['BATAILLES_DESCR'] }}</p>
</header>
<section id="champ" cdkDropListGroup>
  <header>
    <form>
      <mat-form-field>
        <mat-label>{{ l.t['BATAILLES_BG'] }}</mat-label>
        <mat-select [placeholder]="l.t['BATAILLES_BG']" name="bg" [(ngModel)]="c.bg">
          @for(bg of d.params.cartes; track bg.id){
          <mat-option [value]="bg.img">
            <img [src]="bg.vignette" [alt]="bg.vignette">
            <article>
              <h5>{{ bg.description }}</h5>
            </article>
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- SLIDER -->
      <fieldset>
        <mat-label>{{ l.t['HEX_AFFICHE'] }}</mat-label>
        <mat-slider min="0" max="100" step="1" discrete (input)="matSlide($event)">
          <input matSliderThumb value="50">
        </mat-slider>
      </fieldset>
    </form>
  </header>
  <article class="map tokens" onDragBoundary="map" cdkDrop #map [style.backgroundImage]="'url('+ c.bg +')'">
    @for(comp of c.listeCompagnies; track comp.id; let i=$index){
    <div [matTooltip]="comp.nom"
      [matTooltipClass]="(c.attaque && comp.id == c.attaque.id && i==c.indexAttaquant) ? 'tooltip' : ''"
      class="token compagnie" cdkDrag [id]="'c'+comp.id" #token (contextmenu)="actions($event, comp, i)"
      (mouseleave)="tokenLeave($event)">
      <!--  -->
      <img [src]="comp.avatar" [alt]="comp.nom">
      <span class="hex" [style.color]="d.docs.armees[comp.armee!].couleur">&#x2B22;</span>
      <span [matBadge]="comp.unites.length" matBadgeColor="warn" matBadgeSize="large"></span>
      @if(c.selected && comp.id == c.selected.id && i==c.indexAttaquant){
      <div id="mb">
        <ul>
          <li><a [matTooltip]="l.t['ACT_CAC']" matTooltipPosition="right"
              (click)="actionBaston($event, comp, 'ACT_CAC')">
              <img src="assets/images/pictos/action-cac_b.png" [alt]="l.t['ACT_CAC']"></a></li>

          <li><a [matTooltip]="l.t['ACT_JET']" matTooltipPosition="right">
              <img src="assets/images/pictos/action-jet_b.png" [alt]="l.t['ACT_JET']"
                (click)="actionBaston($event, comp, 'ACT_JET')"></a></li>

          <li><a [matTooltip]="l.t['ACT_DEF']" matTooltipPosition="below" (click)="actionDefend(comp)">
              <img src="assets/images/pictos/action-statut_b.png" [alt]="l.t['ACT_DEF']"></a></li>
          <!-- <li><a [matTooltip]="l.t['ACT_SORT']" matTooltipPosition="below">
              <img src="assets/images/pictos/action-sort_b.png" [alt]="l.t['ACT_SORT']" (click)="actionBaston($event, c, 'ACT_SORT')"></a></li> -->

          <li><a [matTooltip]="l.t['ACT_RALLIE']" matTooltipPosition="below" (click)="actionRallie(comp)">
              <img src="assets/images/pictos/action-rallie_b.png" [alt]="l.t['ACT_RALLIE']"></a></li>

          <li><a [matTooltip]="l.t['ACT_ORDRE']" matTooltipPosition="left" (click)="actionOrdre(comp)">
              <img src="assets/images/pictos/action-ordres_b.png" [alt]="l.t['ACT_ORDRE']"></a></li>

          <li><a [matTooltip]="l.t['DEL']" matTooltipPosition="left" (click)="actionDel($event, i, comp.id)">
              <img src="assets/images/pictos/action-del_b.png" [alt]="l.t['DEL']"></a></li>

          <li><a [matTooltip]="l.t['ACT_INFOS']" matTooltipPosition="above" (click)="actionInfos(comp)">
              <img src="assets/images/pictos/action-infos_b.png" [alt]="l.t['ACT_STATUT']"></a></li>

          <li><a [matTooltip]="l.t['ACT_DEFI_AT']" matTooltipPosition="above" (click)="actionDefi(comp.id, true)">
              <img src="assets/images/pictos/action-officierAt_b.png" [alt]="l.t['ACT_DEFI_AT']"></a></li>

          <li><a [matTooltip]="l.t['ACT_DEFI_DEF']" matTooltipPosition="after" (click)="actionDefi(comp.id, false)">
              <img src="assets/images/pictos/action-officierDef_b.png" [alt]="l.t['ACT_DEFI_DEF']"></a></li>

        </ul>
      </div>
      }
    </div>
    }
    <div id="hexagones" [style.opacity]="opacite" (mouseenter)="initActions()"></div>
  </article>
</section>
<!-- OPTION LATTERALES -->
<aside>
  <section [@tabOuvre]="tabArmees ? 'ferme' : 'ouvre'">
    <header>
      <a (click)="tabArmees = !tabArmees">
        <img src="assets/images/pictos/armoiries.png" [alt]="l.t['ARMEES']">
        <p>{{ l.t['ARMEES'] }}</p>
      </a>
    </header>
    <mat-accordion>
      @for(a of d.docs.armees; track a.id; let i=$index){
      <mat-expansion-panel [class]="drag ? 'overflow' : ''">
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(a.avatar){
            <img [src]="a.avatar" [alt]="a.nom" class="avatar">
            }
            <h5>{{ a.nom }}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <article class="col panneau">
          <p>{{ a.descr }}</p>
          @for(c of a.compagnies; track c; let j=$index){
          <div>
            <div class="token" cdkDrag (cdkDragEnded)="tokenDrop($event, d.docs.compagnies[c])"
              (cdkDragMoved)="setDragOverflow()" [matTooltip]="d.docs.compagnies[c].nom">
              <img [src]="d.docs.compagnies[c].avatar" [alt]="d.docs.compagnies[c].nom">
              <span class="hex" [style.color]="a.couleur">&#x2B22;</span>
            </div>
            <div>
              <h5>{{ d.docs.compagnies[c].nom }}</h5>
              <p>{{ l.t['UNITES'] }} : {{ d.docs.compagnies[c].unites.length }}</p>
            </div>
          </div>
          }
        </article>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </section>
</aside>
<!-- OPTIONS DES BATAILLES -->
<footer>
  <section [@tabLeve]="tabActions ? 'leve' : 'baisse'">
    <header>
      <a (click)="tabActions = !tabActions">
        <img src="assets/images/pictos/action.png" [alt]="l.t['ACTS']">
        <p>{{ l.t['ACTS'] }}</p>
      </a>
    </header>
    <section>
      <article>
        <!-- Compagnie attaque -->
        @if(c.attaque){
        <h4>{{ l.t['ATTAQUANT'] }}</h4>
        <h5>{{ c.attaque.nom }} ({{ c.attaque.id }})</h5>
        <ul>
          <li>
            <img src="assets/images/pictos/unite-bouclier_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['UNITES'] }}</span>
            <span>{{ c.attaque.unites.length }}</span>
          </li>
          <li>
            <img src="assets/images/pictos/trauma_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['BLESSES'] }}</span>
            <span>{{ c.attaque.blesses }}</span>
          </li>
          <li>
            <img src="assets/images/pictos/morts_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['MORTS'] }}</span>
            <span>{{ c.attaque.morts }}</span>
          </li>
          <li>
            <img src="assets/images/pictos/action-moral_n.png" [alt]="l.t['ACT_MORAL']">
            <span>{{ l.t['MORAL'] }}</span>
            <span>{{ c.attaque.moral }}</span>
          </li>

        </ul>
        @if(c.action == 'ACT_JET' || c.action == 'ACT_SORT' || (c.officierAt && c.officierAt.jet && c.officierAt.jet !=
        -1)){
        <mat-form-field>
          <mat-label>{{ l.t['JET'] }}</mat-label>
          <input matInput [placeholder]="l.t['JET']" name="distance" [(ngModel)]="c.distance" type="number">
          <mat-icon matSuffix>straighten</mat-icon>
        </mat-form-field>
        }
        }
        <!-- Commandant attaque -->
        @if(c.officierAt){
        <h4>{{ l.t['ATTAQUANT'] }}</h4>
        <h5>{{ c.officierAt.nom }} ({{ c.officierAt.id }})</h5>
        <ul>
          <li>
            <img src="assets/images/pictos/coeur_n.png" [alt]="l.t['PV']">
            <span>{{ l.t['PV'] }}</span>
            <span [matBadge]="c.blesses" matBadgeColor="warn"><strong>{{ c.officierAt.pv }}</strong></span>
          </li>
          @if(c.officierAt.cac){
          <li>
            <img src="assets/images/pictos/action-cac_n.png" [alt]="l.t['CAC']">
            <span>{{ l.t['CAC'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('cac', c.officierAt.cac!).nom }}</strong></span>
          </li>
          }
          @if(c.officierAt.monture){
          <li>
            <img src="assets/images/pictos/cavalerie_n.png" [alt]="l.t['MONTURE']">
            <span>{{ l.t['MONTURE'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('montures', c.officierAt.monture!).nom }}</strong></span>
          </li>
          }
        </ul>
        <ul>
          <li>
            <img src="assets/images/pictos/armor_pn.png" [alt]="l.t['ARMURE']">
            <span>{{ l.t['ARMURE'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('armures', c.officierAt.armure!).nom }}</strong></span>
          </li>
          <li>
            <img src="assets/images/pictos/shield_pn.png" [alt]="l.t['BOUCLIER']">
            <span>{{ l.t['BOUCLIER'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('boucliers', c.officierAt.bouclier!).nom }}</strong></span>
          </li>
          <li>
            <img [src]="c.officierAt.etat | statuts" [alt]="c.officierAt.nom" [alt]="l.t['STATUT']">
          </li>
        </ul>
        }
        @if(!c.attaque && !c.officierAt) {
        <h3>{{ l.t['AT_CHOIX'] }}</h3>
        }
      </article>
      <span>
        <button class="valide" [matTooltip]="l.t[c.action]" (click)="goCombat()">
          <img src="assets/images/pictos/action_b.png" [alt]="l.t['ACTS']">
          <!-- <span>{{ l.t['ACT_AT'] }}</span> -->
        </button>
      </span>
      <article>
        @if(c.defend){
        <h4>{{ l.t['DEFENSEUR'] }}</h4>
        <h5>{{ c.defend.nom }} ({{ c.defend.id }})</h5>
        <ul>
          <li>
            <img src="assets/images/pictos/unite-bouclier_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['UNITES'] }}</span>
            <span><strong>{{ c.defend.unites.length }}</strong></span>
          </li>
          <li [matBadge]="c.blesses" matBadgeColor="warn">
            <img src="assets/images/pictos/trauma_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['BLESSES'] }}</span>
            <span><strong>{{ c.defend.blesses }}</strong></span>
          </li>
          <li [matBadge]="c.morts" matBadgeColor="warn">
            <img src="assets/images/pictos/morts_n.png" [alt]="l.t['COMBATTANTS']">
            <span>{{ l.t['MORTS'] }}</span>
            <span><strong>{{ c.defend.morts }}</strong></span>
          </li>
          <li>
            <img src="assets/images/pictos/action-moral_b.png" [alt]="l.t['ACT_MORAL']">
            <span>{{ l.t['MORAL'] }}</span>
            <span><strong>{{ c.defend.moral }}</strong></span>
          </li>
        </ul>
        }
        <!-- COMMANDANT ATTAQUE -->
        @if(c.officierDef){
        <h4>{{ l.t['DEFENSEUR'] }}</h4>
        <h5>{{ c.officierDef.nom }} ({{ c.officierDef.id }})</h5>
        <ul>
          <li>
            <img src="assets/images/pictos/coeur_n.png" [alt]="l.t['PV']">
            <span>{{ l.t['PV'] }}</span>
            <span [matBadge]="c.morts" matBadgeColor="warn"><strong>{{ c.officierDef.pv }}</strong></span>
          </li>
          @if(c.officierDef.cac){
          <li>
            <img src="assets/images/pictos/action-cac_n.png" [alt]="l.t['CAC']">
            <span>{{ l.t['CAC'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('cac', c.officierDef.cac!).nom }}</strong></span>
          </li>
          }
          @if(c.officierDef.monture){
          <li>
            <img src="assets/images/pictos/cavalerie_n.png" [alt]="l.t['MONTURE']">
            <span>{{ l.t['MONTURE'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('montures', c.officierDef.monture!).nom }}</strong></span>
          </li>
          }
        </ul>
        <ul>
          <li>
            <img src="assets/images/pictos/armor_pn.png" [alt]="l.t['ARMURE']">
            <span>{{ l.t['ARMURE'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('armures', c.officierDef.armure!).nom }}</strong></span>
          </li>
          <li>
            <img src="assets/images/pictos/shield_pn.png" [alt]="l.t['BOUCLIER']">
            <span>{{ l.t['BOUCLIER'] }}</span>
            <span><strong>{{ d.getCompagniesUnites('boucliers', c.officierDef.bouclier!).nom }}</strong></span>
          </li>
          <li>
            <img [src]="c.officierDef.etat | statuts" [alt]="c.officierDef!.nom" [alt]="l.t['STATUT']">
          </li>
        </ul>
        }
        @if(!c.defend && !c.officierDef) {
        <h3>{{ l.t['DEF_CHOIX'] }}</h3>
        }
      </article>
    </section>
  </section>
</footer>
@if(c.infos && c.selected){
<section id="pop">
  <main>
    <header>
      <a (click)="c.infos = false; c.selected = undefined" [title]="l.t['FERMER']" class="close"><mat-icon>close</mat-icon></a>
      <h2>{{ l.t['COMPAGNIE'] }} : {{ c.selected.nom }}</h2>
      <p>{{ c.selected.descr }}</p>
      @if(c.ordre){
      <table>
        <thead>
          <tr>
            <th colspan="3">{{ l.t['ORDRE_ACTIF'] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ c.ordre.ordre }}</td>
            <td>{{ c.ordre.descr }}</td>
            <td><a [matTooltip]="l.t['DEL']" (click)="c.ordre = undefined"><mat-icon matSuffix
                  class="icone del">close</mat-icon></a></td>
          </tr>
        </tbody>
      </table>
      }
    </header>
    <section>
      <table>
        <thead>
          <tr>
            <th>{{ l.t['ARMEE'] }}</th>
            <th>{{ l.t['COMMANDANT'] }}</th>
            <th>{{ l.t['PV'] }}</th>
            <th>{{ l.t['MORAL'] }}</th>
            <th colspan="2">{{ l.t['MUNS'] }}</th>
            <th>{{ l.t['STATUT'] }}</th>
          </tr>
          <tr>
            <th colspan="4"></th>
            <th>{{ l.t['TYPE'] }}</th>
            <th>{{ l.t['QT'] }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ d.getCompagniesUnites('armees', c.selected.armee!).nom }}</td>
            <td>{{ d.getCompagniesUnites('unites', c.selected.commandant).nom }}</td>
            <td>{{ c.selected.pv }}</td>
            <td>{{ c.selected.moral }}</td>
            <td>{{ c.selected.munitions?.type }}</td>
            <td>{{ c.selected.munitions?.q }}</td>
            <td><img [src]="c.selected.statut | statuts" [alt]="c.selected.nom"></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <td>{{ l.t['NOM'] }}</td>
            <td>{{ l.t['RACE'] }}</td>
            <td>{{ l.t['CAC'] }}</td>
            <td>{{ l.t['JET'] }}</td>
            <td>{{ l.t['ARMURE'] }}</td>
            <td>{{ l.t['BOUCLIER'] }}</td>
            <td>{{ l.t['PV_MAX'] }}</td>
            <td>{{ l.t['PV'] }}</td>
            <td>{{ l.t['MONTURE'] }}</td>
            <td>{{ l.t['XP'] }}</td>
            <td>{{ l.t['STATUT'] }}</td>
          </tr>
        </thead>
        <tbody>
          @for (u of c.selected.unites | slice:pagination.min:pagination.max; track $index) {
          <tr>
            <td>{{ d.getCompagniesUnites('unites', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('races', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('cac', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('jet', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('armures', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('boucliers', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('unites', u).pvMax }}</td>
            <td>{{ d.getCompagniesUnites('unites', u).pv }}</td>

            <td>{{ d.getCompagniesUnites('montures', u).nom }}</td>
            <td>{{ d.getCompagniesUnites('unites', u).xp }}</td>
            <td><img [src]="d.getCompagniesUnites('unites', u).etat | statuts" [alt]="l.t['AVATAR']"></td>
          </tr>
          }
        </tbody>
      </table>
      <mat-paginator [length]="c.selected.unites.length" (page)="setPagination($event)" [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100, 250]" aria-label="Avancer dans les unitées">
      </mat-paginator>
    </section>
  </main>
</section>
}
@if(ordre && c.selected){
<section id="pop">
  <main>
    <header>
      <a (click)="ordre = false; c.selected = undefined" [title]="l.t['FERMER']" class="close"><mat-icon>close</mat-icon></a>
      <h2>{{ l.t['ORDRES'] }}</h2>
    </header>
    <section>
      <article>
        <table>
          <thead>
            <tr>
              <th colspan="2">{{ l.t['ORDRE'] }}</th>
              <th colspan="4">{{ l.t['DESCR'] }}</th>
            </tr>
          </thead>
          <tbody>
            @for(o of d.ordres; track o.id){
            <tr>
              <td><mat-checkbox [checked]="c.selected.ordre && c.selected.ordre.id == o.id" (change)="setOrdre(o)"></mat-checkbox></td>
              <td>{{ o.ordre }}</td>
              <td colspan="4">{{ o.descr }}</td>
            </tr>
            }
          </tbody>
        </table>
      </article>
    </section>
  </main>
</section>
}
