<header>
  <h1>{{ l.t['BATAILLES'] }} ({{ d.campagne!.nom }})</h1>
  <p>{{ l.t['BATAILLES_DESCR'] }}</p>
</header>
<section id="champ" cdkDropListGroup>
  <header>
    <mat-form-field>
      <mat-label>{{ l.t['BATAILLES_BG'] }}</mat-label>
    <mat-select [placeholder]="l.t['BATAILLES_BG']" name="bg" [(ngModel)]="bg">
      @for(bg of d.params.cartes; track bg.id){
      <mat-option [value]="bg.img">
        <img [src]="bg.vignette" [alt]="bg.vignette">
        <article>
          <h5>{{ bg.description }}</h5>
        </article></mat-option>
      }
    </mat-select>
  </mat-form-field>
  </header>
  <article class="map tokens" onDragBoundary="map" cdkDrop #map [style.backgroundImage]="'url('+bg+')'">
    @for(c of listeCompagnies; track c.id; let i=$index){
    <div [matTooltip]="c.nom"  [matTooltipClass]="(fight && c.id == fight.id && i==indexFight) ? 'tooltip' : ''"
      class="token compagnie" cdkDrag [id]="'c'+c.id" #token (contextmenu)="actions($event, c, i)" (mouseleave)="fight = undefined">
      <!--  -->
      <img [src]="c.avatar" [alt]="c.nom">
      <span class="hex" [style.color]="d.docs.armees[c.armee!].couleur">&#x2B22;</span>
      @if(fight && c.id == fight.id && i==indexFight){
        <div id="mb">
          <ul>
            <li><a [matTooltip]="l.t['ACT_CAC']" matTooltipPosition="right"><img src="assets/images/pictos/action-cac_b.png" [alt]="l.t['ACT_CAC']"></a></li>
            <li><a [matTooltip]="l.t['ACT_JET']" matTooltipPosition="right"><img src="assets/images/pictos/action-jet_b.png" [alt]="l.t['ACT_JET']"></a></li>
            <li><a [matTooltip]="l.t['ACT_SORT']" matTooltipPosition="below"><img src="assets/images/pictos/action-sort_b.png" [alt]="l.t['ACT_SORT']"></a></li>
            <li><a [matTooltip]="l.t['ACT_RALLIE']" matTooltipPosition="below"><img src="assets/images/pictos/action-rallie_b.png" [alt]="l.t['ACT_RALLIE']"></a></li>
            <li><a [matTooltip]="l.t['ACT_MORAL']" matTooltipPosition="left"><img src="assets/images/pictos/action-moral_b.png" [alt]="l.t['ACT_MORAL']"></a></li>
            <li><a [matTooltip]="l.t['DEL']" matTooltipPosition="left"><img src="assets/images/pictos/action-del_b.png" [alt]="l.t['DEL']"></a></li>
            <li><a [matTooltip]="l.t['ACT_DEFI']" matTooltipPosition="above"><img src="assets/images/pictos/action-defi_b.png" [alt]="l.t['ACT_DEFI']"></a></li>
            <li><a [matTooltip]="l.t['ACT_STATUT']" matTooltipPosition="above"><img src="assets/images/pictos/action-statut_b.png" [alt]="l.t['ACT_STATUT']"></a></li>
            <li><a [matTooltip]="l.t['ACT_INFOS']" matTooltipPosition="after"><img src="assets/images/pictos/action-infos_b.png" [alt]="l.t['ACT_INFOS']"></a></li>
          </ul>
        </div>
      }
    </div>
    }
    <div id="hexagones" [style.opacity]="opacite"></div>
  </article>
  <footer>
    <article>
      <p>{{ l.t['HEX_AFFICHE'] }}</p>
      <mat-slider min="0" max="100" step="1" discrete (input)="matSlide($event)">
        <input matSliderThumb value="50">
      </mat-slider>
    </article>
  </footer>
  <!-- OPTION LATTERALES -->

</section>
<aside>
  <section [@tabOuvre]="tabArmees ? 'ferme' : 'ouvre'">
    <header>
      <a (click)="tabArmees = !tabArmees">
        <img src="assets/images/pictos/armoiries.png" [alt]="l.t['ARMEES']">
        <p>{{ l.t['ARMEES'] }}</p>
      </a>
    </header>
    <mat-accordion>
      @for(a of d.docs.armees; track a.id; let i=$index){
      <mat-expansion-panel [class]="drag ? 'overflow' : ''">
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(a.avatar){
            <img [src]="a.avatar" [alt]="a.nom" class="avatar">
            }
            <h5>{{ a.nom }}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <article class="col panneau">
          <p>{{ a.descr }}</p>
          @for(c of a.compagnies; track c; let j=$index){
          <div>
            <div class="token" cdkDrag (cdkDragEnded)="tokenDrop($event, d.docs.compagnies[c])"
              (cdkDragMoved)="setDragOverflow()" [matTooltip]="d.docs.compagnies[c].nom">
              <img [src]="d.docs.compagnies[c].avatar" [alt]="d.docs.compagnies[c].nom">
              <span class="hex" [style.color]="a.couleur">&#x2B22;</span>
            </div>
            <div>
              <h5>{{ d.docs.compagnies[c].nom }}</h5>
              <p>{{ l.t['UNITES'] }} : {{ d.docs.compagnies[c].unites.length }}</p>
            </div>
          </div>
          }
        </article>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </section>
  <section [@tabOuvre]="tabActions ? 'ferme' : 'ouvre'">
    <header>
      <a (click)="tabActions = !tabActions">
        <img src="assets/images/pictos/action.png" [alt]="l.t['ACTS']">
        <p>{{ l.t['ACTS'] }}</p>
      </a>
    </header>
  </section>
</aside>
