<header>
  <h1>{{ l.t['ARMEES']}}</h1>
  <p>{{ l.t['ARMEES_DESCR']}}</p>
</header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- LISTE DES ARMEES -->
  <mat-tab [label]="l.t['ARMEE']">
    <!-- FILTRER LES ARMEES -->
    <mat-form-field>
      <mat-label>{{ l.t['FILTRER'] }}</mat-label>
      <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- LISTE DES ARMEES -->
    <mat-accordion>
      @for (a of d.armees | triArmees:filtre; track a.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(a.avatar){
              <img [src]="a.avatar" [alt]="a.nom" class="avatar">
            }
            <h4><span [style.color]="a.couleur">&#x2B22;</span>{{ a.nom }}</h4>
          </mat-panel-title>
          <mat-panel-description>
            <span><img [src]="a.statut | statuts" [alt]="a.nom"></span>
            <span>
              <img src="assets/images/pictos/del.png" [alt]="l.t['DE']">
              <img src="assets/images/pictos/up.png" [alt]="l.t['UP']">
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ a.descr }}</p>
        <table>
          <thead>
            <tr>
              <td>{{ l.t['COMPAGNIES'] }}</td>
              <td>{{ l.t['XP'] }}</td>
              <td>{{ l.t['UNITES_NB'] }}</td>
              <td>{{ l.t['STATUT'] }}</td>
            </tr>
          </thead>
          <tbody>
            @for (c of a.compagnies; track $index) {
            <tr>
              <td>{{ d.compagnies[c].nom }}</td>
              <td>{{ d.compagnies[c].unites.length }}</td>
              <td>{{ d.compagnies[c].statut }}</td>
            </tr>
            }
          </tbody>
        </table>
      </mat-expansion-panel>
      }
      @empty {
      Il n'existe pas encore d'armée
      }
    </mat-accordion>
  </mat-tab>
  <!-- CREER UNE ARMEE -->
  <mat-tab [label]="l.t['ARMEES_CREER']">
    <header>
      <form>
        <mat-form-field>
          <!-- <mat-label>{{ l.t['FILTRER'] }}</mat-label> -->
          <input type="text" matInput [placeholder]="l.t['ARMEE_NOM']" [(ngModel)]="armee.nom" name="armeeNom">
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput [placeholder]="l.t['DESCR']" [(ngModel)]="armee.descr" name="armeeDescr">
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <!-- <mat-label>{{ l.t['ARMEE_HEROS'] }}</mat-label> -->
          <mat-select [(ngModel)]="armee.commandant" name="armeePj" [placeholder]="l.t['ARMEE_HEROS']">
            @for (pj of d.unites | pj; track pj.id) {
            <mat-option [value]="pj.id">{{pj.nom}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <!-- <mat-label>{{ l.t['COUL_ATTR'] }}</mat-label> -->
          <input type="text" matInput [placeholder]="l.t['COUL_ATTR']" [(ngModel)]="armee.couleur" name="armeeCouleur">
          <mat-icon matSuffix>colorize</mat-icon>
        </mat-form-field>
        <fieldset>
          <button class="annule" type="reset"><mat-icon matSuffix>restart_alt</mat-icon>{{ l.t['ANNULE'] }}</button>
          <button class="valide"><mat-icon matSuffix>done</mat-icon>{{ l.t['VALIDE'] }}</button>
        </fieldset>
      </form>
    </header>
    <section class="fenetres">
      <article>
        <nav class="options">
          <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
          <a><img src="assets/images/pictos/plus.png" [alt]="l.t['VALIDE']"></a>
        </nav>
        <header>
          <h3>{{ l.t['COMPAGNIES'] }}</h3>
          <ul>
            @for (c of d.compagnies; track $index) {
            <li>
              <img [src]="c.avatar" [alt]="c.nom" class="avatar">
              <h5>{{ c.nom }}</h5>
              <div>
                <p>{{ l.t['SANTE']}} : {{ c.pv }}/{{ c.pvMax }}</p>
                <p>{{ l.t['UNITES'] }} : {{ c.unites.length }}</p>
              </div>
              <img [src]="c.statut | statuts " [alt]="c.statut" class="picto">
            </li>
            }
          </ul>
        </header>
      </article>
      <span class="fleche">»</span>
      <article>
        <nav class="options">
          <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
          <a><img src="assets/images/pictos/plus.png" [alt]="l.t['VALIDE']"></a>
        </nav>
        <header>
          <h3>{{ l.t['ARMEE'] }}</h3>
        </header>
        <div>
          <ul>

          </ul>
        </div>
      </article>
    </section>
  </mat-tab>
</mat-tab-group>