<header>
  <h1>{{ l.t['ARMEES']}} ({{ d.campagne!.nom }})</h1>
  <p>{{ l.t['ARMEES_DESCR']}}</p>
</header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- LISTE DES ARMEES -->
  <mat-tab [label]="l.t['ARMEE']">
    <!-- FILTRER LES ARMEES -->
    <mat-form-field>
      <mat-label>{{ l.t['FILTRER'] }}</mat-label>
      <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- LISTE DES ARMEES -->
    <mat-accordion>
      @for (a of d.docs.armees | triArmees:filtre; track a.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(a.avatar){
            <img [src]="a.avatar" [alt]="a.nom" class="avatar">
            }
            <h4>{{ a.nom }}</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h2 [style.color]="a.couleur">&#x2B22;</h2>
            @if(a.commandant && a.commandant >= 0){
              <span>{{ l.t['GENERAL'] }} {{ d.getCompagniesUnites('unites', a.commandant! ).nom }}</span>
            }
            <span><img [src]="a.statut | statuts" [alt]="l.t['STATUT']"></span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <header>
          <p>{{ a.descr }}</p>
          <nav class="row">
            <a [matTooltip]="l.t['ANNULE']" (click)="l.setEdit('armees', a, true)"><mat-icon matSuffix
                class="icone del">close</mat-icon></a>
            <a [matTooltip]="l.t['VALIDE']" (click)="l.setEdit('armees', a)"><mat-icon matSuffix
                class="icone annule">restart_alt</mat-icon></a>
          </nav>
        </header>
        <table>
          <thead>
            <tr>
              <th>{{ l.t['COMPAGNIES'] }}</th>
              <th>{{ l.t['PV'] }}</th>
              <th>{{ l.t['XP'] }}</th>
              <th>{{ l.t['UNITES_NB'] }}</th>
              <th>{{ l.t['BLESSES'] }}</th>
              <th>{{ l.t['MORTS'] }}</th>
              <th>{{ l.t['STATUT'] }}</th>
            </tr>
          </thead>
          <tbody>
            @for (c of a.compagnies; track $index) {
            <tr>
              <td><img [src]="d.docs.compagnies[c].avatar" [alt]="l.t['AVATAR']" class="avatar"><p>{{ d.docs.compagnies[c].nom }}</p></td>
              <td>{{ d.docs.compagnies[c].pv }}</td>
              <td>{{ d.docs.compagnies[c].xp }}</td>
              <td>{{ d.docs.compagnies[c].unites.length }}</td>
              <td>{{ d.docs.compagnies[c].blesses}}</td>
              <td>{{ d.docs.compagnies[c].morts }}</td>
              <td>{{ d.docs.compagnies[c].statut }}</td>
            </tr>
            }
          </tbody>
        </table>
      </mat-expansion-panel>
      }
      @empty {
      Il n'existe pas encore d'armée
      }
    </mat-accordion>
  </mat-tab>
  <!-- CREER UNE ARMEE -->
  <mat-tab [label]="l.t['ARMEES_CREER']" (selectedTabChange)="initArmee()">
    <header>
      <form>
        <article>
          <mat-form-field>
            <mat-label>{{ l.t['ARMEE_NOM'] }}</mat-label>
            <input type="text" matInput [placeholder]="l.t['ARMEE_NOM']" [(ngModel)]="armee.nom" name="armeeNom"
              required>
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [placeholder]="l.t['DESCR']" [(ngModel)]="armee.descr" name="armeeDescr">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="armee.commandant" name="armeePj" [placeholder]="l.t['GENERAL'] + '*'" required>
              @for (pj of d.docs.unites | pj; track pj.id) {
              <mat-option [value]="pj.id">{{pj.nom}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <fieldset>
            <mat-label>{{ l.t['COUL'] }}</mat-label>
            <span class="colorPicker" [style.background-color]="armee.couleur">
              <github-picker [control]="colorControl"></github-picker>
            </span>
          </fieldset>
        </article>
        <article>
          <mat-radio-group aria-label="Sélectionner un avatar pour la compagnie" name="avatar"
            [(ngModel)]="armee.avatar" required>
            <mat-label>{{ l.t['AVATAR'] }}*</mat-label>
            <mat-radio-button value="assets/images/avatars/armees/armor_n.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/armor_n.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/horses.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/horses.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/magic-wand.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/magic-wand.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/shield_n.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/shield_n.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/spellbook.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/spellbook.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/spear.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/spear.png" [alt]="l.t['AVATAR']"></mat-radio-button>
            <mat-radio-button value="assets/images/avatars/armees/sword.png" value="assets/images/avatars/armees/armor_n.png">
              <img src="assets/images/avatars/armees/sword.png" [alt]="l.t['AVATAR']"></mat-radio-button>
          </mat-radio-group>
        </article>
      </form>
    </header>
    <section class="fenetres">
      <article>
        <header>
          <h3>{{ l.t['COMPAGNIES'] }}</h3>
        </header>
        <mat-form-field>
          <mat-label>{{ l.t['FILTRER'] }}</mat-label>
          <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table>
          <thead>
            <tr>
              <td></td>
              <td>{{ l.t['NOM'] }}</td>
              <td>{{ l.t['AVATAR'] }}</td>
              <td>{{ l.t['UNITES'] }}</td>
              <td>{{ l.t['PV_MAX'] }}</td>
              <td>{{ l.t['PV'] }}</td>
              <td>{{ l.t['STATUT'] }}</td>
            </tr>
          </thead>
          <tbody>
            @for (c of d.docs.compagnies; track c.id) {
            <tr>
              <td class="droite"><mat-checkbox (change)="addCompagnie($event, c.id)" #chekitout></mat-checkbox></td>
              <td class="gauche">{{ c.nom }}</td>
              <td><img [src]="c.avatar" [alt]="c.nom" class="avatar"></td>
              <td>{{ c.unites.length }}</td>
              <td>{{ c.pvMax }}</td>
              <td>{{ c.pv }}</td>
              <td><img [src]="c.statut | statuts " [alt]="c.statut" class="picto"></td>
            </tr>
            }
          </tbody>
        </table>
      </article>
      <article>
        <button class="annule" (click)="initArmee()"><mat-icon matSuffix>restart_alt</mat-icon>{{ l.t['ANNULE']
          }}</button>
        <button class="valide" (click)="creeArmee()"><mat-icon matSuffix>done</mat-icon>{{ l.t['CREER'] }}</button>
      </article>
    </section>
  </mat-tab>
</mat-tab-group>
