<header>
  <h1>{{ l.t['ARMEES']}}</h1>
  <p>{{ l.t['ARMEES_DESCR']}}</p>
</header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- LISTE DES ARMEES -->
  <mat-tab [label]="l.t['ARMEE']">
    <!-- FILTRER LES ARMEES -->
    <mat-form-field>
      <mat-label>{{ l.t['FILTRER'] }}</mat-label>
      <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- LISTE DES ARMEES -->
    <mat-accordion>
      @for (a of d.docs.armees | triArmees:filtre; track a.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            @if(a.avatar){
            <img [src]="a.avatar" [alt]="a.nom" class="avatar">
            }
            <h4>{{ a.nom }}</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h2 [style.color]="a.couleur">&#x2B22;</h2>
            <span><img [src]="a.statut | statuts" [alt]="a.nom"></span>
            <span>
              <img src="assets/images/pictos/del.png" [alt]="l.t['DE']">
              <img src="assets/images/pictos/up.png" [alt]="l.t['UP']">
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ a.descr }}</p>
        <table>
          <thead>
            <tr>
              <th>{{ l.t['COMPAGNIES'] }}</th>
              <th>{{ l.t['XP'] }}</th>
              <th>{{ l.t['UNITES_NB'] }}</th>
              <th>{{ l.t['STATUT'] }}</th>
            </tr>
          </thead>
          <tbody>
            @for (c of a.compagnies; track $index) {
            <tr>
              <td>{{ d.docs.compagnies[c].nom }}</td>
              <td>{{ d.docs.compagnies[c].unites.length }}</td>
              <td>{{ d.docs.compagnies[c].statut }}</td>
            </tr>
            }
          </tbody>
        </table>
      </mat-expansion-panel>
      }
      @empty {
      Il n'existe pas encore d'armée
      }
    </mat-accordion>
  </mat-tab>
  <!-- CREER UNE ARMEE -->
  <mat-tab [label]="l.t['ARMEES_CREER']">
    <header>
      <form>
        <article>
          <mat-form-field>
            <!-- <mat-label>{{ l.t['FILTRER'] }}</mat-label> -->
            <input type="text" matInput [placeholder]="l.t['ARMEE_NOM']" [(ngModel)]="armee.nom" name="armeeNom">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [placeholder]="l.t['DESCR']" [(ngModel)]="armee.descr" name="armeeDescr">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="armee.commandant" name="armeePj" [placeholder]="l.t['ARMEE_HEROS']">
              @for (pj of d.docs.unites | pj; track pj.id) {
              <mat-option [value]="pj.id">{{pj.nom}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <fieldset>
            <mat-label>{{ l.t['COUL'] }}</mat-label>
            <span class="colorPicker" [style.background-color]="armee.couleur">
              <github-picker [control]="colorControl"></github-picker>
            </span>
          </fieldset>
        </article>
      </form>
    </header>
    <section class="fenetres">
      <article>
        <!-- <nav class="options">
          <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone annule">restart_alt</mat-icon></a>
        </nav> -->
        <header>
          <h3>{{ l.t['COMPAGNIES'] }}</h3>
        </header>
        <mat-form-field>
          <mat-label>{{ l.t['FILTRER'] }}</mat-label>
          <input type="text" matInput [placeholder]="l.t['FILTRER_NOM']" [(ngModel)]="filtre" name="filtre">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table>
          <thead>
            <tr>
              <td>{{ l.t['NOM'] }}</td>
              <td>{{ l.t['AVATAR'] }}</td>
              <td>{{ l.t['UNITES'] }}</td>
              <td>{{ l.t['PV_MAX'] }}</td>
              <td>{{ l.t['PV'] }}</td>
              <td>{{ l.t['STATUT'] }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            @for (c of d.docs.compagnies; track $index) {
            <tr>
              <td>{{ c.nom }}</td>
              <td><img [src]="c.avatar" [alt]="c.nom" class="avatar"></td>
              <td>{{ c.unites.length }}</td>
              <td>{{ c.pvMax }}</td>
              <td>{{ c.pv }}</td>
              <td><img [src]="c.statut | statuts " [alt]="c.statut" class="picto"></td>
              <td><mat-checkbox></mat-checkbox></td>
            </tr>
            }
          </tbody>
        </table>
      </article>
      <article>
        <button class="annule" type="reset"><mat-icon matSuffix>restart_alt</mat-icon>{{ l.t['ANNULE'] }}</button>
        <button class="valide"><mat-icon matSuffix>done</mat-icon>{{ l.t['VALIDE'] }}</button>
      </article>
      <!-- <span class="fleche">»</span>
      <article>
        <nav class="options">
          <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone annule">restart_alt</mat-icon></a>
        </nav>
        <header>
          <h3>{{ l.t['ARMEE'] }}</h3>
        </header>
        <table>
          <thead>
            <tr>
              <td>{{ l.t['COMPAGNIES'] }}</td>
              <td>{{ l.t['XP'] }}</td>
              <td>{{ l.t['UNITES_NB'] }}</td>
              <td>{{ l.t['STATUT'] }}</td>
            </tr>
          </thead>
          <tbody>
            @for (c of a.compagnies; track $index) {
            <tr>
              <td>{{ d.compagnies[c].nom }}</td>
              <td>{{ d.compagnies[c].unites.length }}</td>
              <td>{{ d.compagnies[c].statut }}</td>
            </tr>
            }
          </tbody>
        </table>
      </article> -->
    </section>
  </mat-tab>
</mat-tab-group>
