<header>
    <h1>{{ l.t['ARMURERIE'] }}</h1>
    <p>{{ l.t['ARMURERIE_DESCR'] }}</p>
</header>
<section class="fenetres wrap">
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
        </nav>
        <header>
            <h3>{{ l.t['CAC'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['DEGATS'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (c of d.docs.cac; track c.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ c.nom }}</td>
                    <td>{{ l.t['MIN'] }} : {{ c.degats.min }}, {{ l.t['MAX'] }} : {{ c.degats.max }}</td>
                    <td>
                        <div class="row">
                            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                        <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix
                                class="icone annule">restart_alt</mat-icon></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
        </nav>
        <header>
            <h3>{{ l.t['JET'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['DEGATS'] }}</td>
                    <td>{{ l.t['PORTEE'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (j of d.docs.jet; track j.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ j.nom }}</td>
                    <td>{{ l.t['MIN'] }} : {{ j.degats.min }}, {{ l.t['MAX'] }} : {{ j.degats.max }}</td>
                    <td>{{ l.t['MIN'] }} : {{ j.portee!.min }}, {{ l.t['MAX'] }} : {{ j.portee!.max }}</td>
                    <td>{{ j.impact }}</td>
                    <td>
                        <div class="row">
                            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                        <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix
                                class="icone annule">restart_alt</mat-icon></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
        </nav>
        <header>
            <h3>{{ l.t['SORTS'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['DEGATS'] }}</td>
                    <td>{{ l.t['PORTEE'] }}</td>
                    <td>{{ l.t['IMPACT'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (s of d.docs.sorts; track s.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ s.nom }}</td>
                    <td>{{ l.t['MIN'] }} : {{ s.degats.min }}, {{ l.t['MAX'] }} : {{ s.degats.max }}</td>
                    <td>{{ l.t['MIN'] }} : {{ s.portee!.min }}, {{ l.t['MAX'] }} : {{ s.portee!.max }}</td>
                    <td>{{ s.impact }}</td>
                    <td>
                        <div class="row">
                            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                        <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix
                                class="icone annule">restart_alt</mat-icon></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
        </nav>
        <header>
            <h3>{{ l.t['ARMURES'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['BONUS'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (a of d.docs.armures; track a.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ a.nom }}</td>
                    <td>{{ a.bonus }}</td>
                    <td>
                        <div class="row">
                            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                        <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix
                                class="icone annule">restart_alt</mat-icon></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
            <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
        </nav>
        <header>
            <h3>{{ l.t['BOUCLIERS'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['BONUS'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (b of d.docs.boucliers; track b.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ b.nom }}</td>
                    <td>{{ b.bonus }}</td>
                    <td>
                        <div class="row">
                            <a [matTooltip]="l.t['ANNULE']"><mat-icon matSuffix class="icone del">close</mat-icon></a>
                            <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix
                                    class="icone annule">restart_alt</mat-icon></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
</section>
