<aside>
  <a routerLink="/" [title]="l.t['CAMP_SEL']" class="accueil gauche">
    <img src="assets/images/pictos/camp.png" [alt]="l.t['CAMP_SEL']">
    <p>{{ l.t['CAMPS'] }}</p>
  </a>
  <nav>
    <a routerLink="/armees" [title]="l.t['ARMEES_CONST']">
      <img src="assets/images/pictos/construire.png" [alt]="l.t['ARMEES_CONST']">
      <p>{{ l.t['ARMEES_CONST'] }}</p>
    </a>
    @if(d.etatSave){
      <a [title]="l.t['RCREATURES']" (click)="d.saveCampagne()" class="btn del">
        <mat-icon matSuffix>save</mat-icon>
      </a>
    }
  </nav>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
