/* POLICES */
@font-face {
  font-family: 'Raleway';
  src: url('/assets/polices/Raleway-VariableFont_wght.ttf');
}
/* VARIABLES */
:root{
  --font:#2a2a2a;
  --noir:black;
  --rouge:#D71A1A;
  --rouge-fonce:#4c0707;
  --vert:#1AD72D;
  --vert-fonce:#0f3b14;
  --jaune:#FFC700;
  --jaune-fonce:#4f3e04;
  --clair:white;
  --gris:#d6d6d6;
  --sm:150px;
  --sm-b:40px;
  --sm-m:-35px;
}
router-outlet + *{
  width:100%;
  height:100%;
  display: flex;
}
router-outlet + * > main router-outlet + *  {
  flex-flow:column nowrap;
  overflow-y:auto;
  overflow-x:hidden;
}
html, body, main{
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  font-family: 'Raleway' !important;
  background-color: #EEE;
  overflow: hidden;
  color:var(--font);
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
h1{
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin:20px auto 0;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}
h3{
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 600;
}
h4{
  font-size: 18px;
  font-weight: 600;
}
h5{
  font-size: 16px;
  font-weight: 900;
}
a{
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  color: var(--noir);
}
a:hover{
  font-weight:900;
}
main, section, article, header, footer, aside, nav, form, fieldset, button{
  display:flex;
}
header {
  width:100%;
  text-align: center;
  flex-flow: column nowrap;
}
aside{
  height:100vh;
  flex-flow: column nowrap;
  width:100px;
  padding:10px;
}
nav {
  flex-flow:column nowrap;
  padding:30px 0;
}
nav > a, .accueil {
  text-transform: uppercase;
  text-align: center;
  font-size:12px;
}
nav > a:hover, .accueil:hover{
  transform: scale(1.1);
}
nav img, .accueil img {
  width:50px;
}
.accueil{
  position:absolute;
  top:0;
  padding:10px;
}
.droite{
  right:0;
}
.gauche{
  left:0;
}
table{
  width:100%;
  font-size:12px;
  background-color: var(--clair);
  padding:10px;
}
thead{
  font-weight: 600;
  text-transform: uppercase;
}
tbody tr{
  border-bottom:1px solid rgba(var(--font), .5);
  transition: all .3s ease;
}
tr:hover{
  background-color: var(--jaune);
}
td{
  text-align:center;
  padding:5px;
}
td:nth-child(1){
  text-align: left;
}
header form{
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;
}
header form fieldset{
  flex-flow:row nowrap;
  border:none;
  align-items: center;
}
header form fieldset > *{
  margin-right:5px;
}
form > * {
  margin:5px;
}
form article{
  flex-direction: row;
  width:100%;
  justify-content: center;
}
hr{
  height:0;
  width:100%;
  border-top:1px solid var(--jaune);
}
button{
  padding:8px 16px 8px 12px;
  color:white;
  cursor: pointer;
  border:none;
  transition:all .3s ease;
  background-color: var(--font);
  flex-flow: row nowrap;
  align-items: center;
}
button mat-icon{
  margin-right:5px;
}
button:hover{
  background-color:var(--noir);
}
.valide{
  color: var(--clair);
  background-color: var(--vert);
}
.valide:hover{
  background-color: var(--vert-fonce);
}
.annule{
  color: var(--clair);
  background-color: var(--jaune);
}
.annule:hover{
  background-color: var(--jaune-fonce);
}
.del{
  color: var(--clair);
  background-color: var(--rouge);
}
.del:hover{
  background-color: var(--rouge-fonce);
}
.icone{
  margin:0;
  font-size:16px;
  padding:4px;
}
/* CLASSES PERSONNALISEES */
.header{
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.header > * {
  flex:1;
}
.header > *:nth-child(1){
  flex:3
}
.header h3 {
  font-size: 16px;
  margin:0;
}
.header h3 span{
  margin-right:10px;
}
.picto{
  width:20px !important;
}
.avatar{
  width:35px;
  margin:0 10px 0 0;
}
.petit{
  font-size:10px;
}
.row{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.row > *{
  width:fit-content;
  margin:auto 0;
}
.col{
  flex-direction: column;
}
/* PAGES */
section.tab{
  flex-flow: column nowrap;
  width:100%;
  overflow-y:auto;
}
section.tab > header {
  margin-bottom:20px;
}
/* INTERFACES AVEC DES FENETRES */
.fenetres {
  width:100%;
  flex-wrap: wrap;
  justify-content: space-around;
  height:auto;
  margin-top:40px;
}
.fenetres header {
  border-bottom:1px solid var(--font);
  height: fit-content;
}
.fenetres article {
  max-width:40%;
  background-color: var(--clair);
  flex-flow:row wrap;
  justify-content: space-around;
  position:relative;
  height:fit-content;
  margin:10px;
}
nav.options {
  position:absolute;
  right:0;
  top:-54px;
  display: flex;
  flex-flow:row nowrap;
}
nav.options img{
  width:24px;
  height:24px;
}
.fenetres span.fleche{
  height:100%;
  font-size:24px;
  display:flex;
  align-items: center;
  margin:auto;
}
.fenetres ul{
  padding:0;
}
.fenetres li{
  display:flex;
  flex-flow:row nowrap;
  list-style: none;
  text-align: left;
  align-items: center;
  width:100%;
  border-bottom:solid 1px var(--font);
  margin-bottom:20px;
  padding:10px 10px 0 10px;
  cursor: pointer;
  transition:all .3s ease;
}
.fenetres li:hover{
  background-color: var(--jaune);
}
.fenetres li > *:not(img) {
  margin:0 10px;
  flex:1;
}
.fenetres li p{
  margin:5px
}
.fenetres li > div{
  display:flex;
  flex-flow:column nowrap;
}
/* CHAMP DE BATAILLE */
#champ{
  position:relative;
  flex-flow:column nowrap;
  justify-content: space-between;
  width:100%;
  height:100%;
  padding:0 40px;
}
#champ > header {
  width:100%;
  height: 60px;
}
#champ > article, .map {
  width:calc(100% - 100px);
  height:calc(100% - 120px);
  border: dashed 1px black;
}
.map {
  background:50% no-repeat;
  background-size:cover;
}
#champ > footer{
  align-items: center;
  height:60px;
}
#champ > footer > *{
  margin:auto;
}
#hexagones{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url('assets/images/cartes/hexagones.svg') 0% 0% no-repeat;
  background-size: 1920px 1080px;
  z-index:0;
}

/*
#champ {
  width:100%;
  height:100%;
}
#champ article{
  margin:auto;
  flex-flow:column nowrap;
}
#champ dl{
  margin:auto;
  display:flex;
  flex-flow:row wrap;
}
#champ dl:nth-child(even){
  padding-left:50px;
}
#champ dl dt{
  list-style: none;
  display:flex;
  width:50px;
  height:55px;
  margin-top:-5px;
}
#champ dl dt span{
  margin:auto;
}
#champ dl dt:nth-child(even) > span{
} */
/* MENU CONTEXTUEL DES BATAILLES */
#mb {
  position:absolute;
  display: flex;
  flex-flow: row wrap;
  width:var(--sm);
  height:var(--sm);
  border-radius: 50%;
  border:var(--sm-b) solid rgba(0,0,0,.65);
  font-size:12px;
  align-items:center;
  justify-content: center;
  z-index:5;
  margin-left:var(--sm-m);
  margin-top:var(--sm-m);
}
#mb img, #mb mat-icon {
  width: 35px;
  height: 35px;
  color: var(--clair);
}
#mb ul{
  padding:0;
  margin:35px;
  height:150px;
  width:150px;
  display:flex;
  position: relative;
}
#mb li{
  list-style: none;
  padding:0;
  margin:-18px;
  display:flex;
  flex-flow:row nowrap;
  /* height:calc(var(--sm) / 3); */
  height:36px;
  width:36px;
}
#mb a{
  height:100%;
}
#mb a:hover{
  transform:scale(1.2);
}
/* #mb ul li:nth-child(1), #mb ul li:nth-child(4){
  width:100%;
}
#mb ul li:nth-child(1) a{
  margin:0 auto auto;
}
#mb ul li:nth-child(4) a{
  margin:auto auto 0;
}*/
#mb ul li:nth-child(1){
  /* transform: rotate(270deg) translate(6em) rotate(-270deg); */
  transform: rotate(0deg) translate(57px) rotate(-0deg);
}
#mb ul li:nth-child(2){
  transform: rotate(60deg) translate(57px) rotate(-60deg);
}
#mb ul li:nth-child(3){
  transform: rotate(120deg) translate(57px) rotate(-120deg);
}
#mb ul li:nth-child(4){
  transform: rotate(180deg) translate(57px) rotate(-180deg);
}
#mb ul li:nth-child(5){
  transform: rotate(240deg) translate(57px) rotate(-240deg);
}
#mb ul li:nth-child(6){
  transform: rotate(300deg) translate(57px) rotate(-300deg);
}
#mb ul li:nth-child(2), #mb ul li:nth-child(3){
  /* width:50%; */
}
#mb ul li:nth-child(2) a{
  margin:auto auto auto 0;
}
#mb ul li:nth-child(3) a{
  margin:auto 0 auto auto;
}
.mat-mdc-tooltip-panel-below{
  /* transform: translate(40px); Tooltip plus bas pour le menu over */
}
.tooltip{
  margin-top:50px;
  pointer-events: none;
}
.hex {
  font-size:100px;
  line-height:80px;
  padding:0;
  margin:0;
  background: none;
  cursor:pointer;
  transition:all .2s ease-out;
  color:white;
  text-shadow: 0 0 1px black;
  overflow: visible;
}
.hex span{
  transition:all .2s ease-out;
  pointer-events: none;
}
.hex:hover span{
  transform:scale(1.4);
}
/* TOKEN DRAGABLE */
.tokens {
  padding:0;
  display:flex;
  flex-flow: column wrap;
  position:relative;
}
.tokens li{
  list-style:none;
}
.token{
  list-style:none;
  position:relative;
  width:80px;
  height:80px;
  cursor: pointer;
  transition: transform .3s ease;
  z-index:1;
}
.compagnie{
  position:absolute;
}
.token.cdk-drag-dragging{
  z-index:100;
}
.token > img{
  width:100%;
  height:100%;
  padding:10px;
  position:absolute;
  left:0;
  top:0;
  z-index:10;
  pointer-events: none;
}
.token .hex{
  position:absolute;
  left:0;
  top:0;
  z-index:6;
  pointer-events: none;
}
.token:hover{
  transform:scale(1.2);
}
.token:hover .hex{
  text-shadow: 0 0 4px var(--font);
}
.overflow, .overflow .mat-expansion-panel-body, .overflow .mat-expansion-panel-content {
  overflow:visible !important;
}
/* MATERIAL */
.cdk-drag {
  transition: none;
}
.cdk-drag-animating {
  transition: none;
}
mat-select{
  max-width: 350px;
}
.mat-mdc-form-field{
  margin:5px;
}
.mat-mdc-tab-header {
  border-top:1px solid var(--font);
  border-bottom:1px solid var(--font);
}
.mat-mdc-tab.mdc-tab {
  /* padding:16px 20px 12px; */
}
.mat-mdc-tab-header *{
  border:none !important;
}
.mat-mdc-tab-label-container{
  border:none !important;
}
.mat-mdc-tab{
  font-size:18px !important;
  text-transform: uppercase;
  font-weight: 100;
  transition:all .3s ease;
}
.mat-mdc-tab:hover{
  font-weight: 900;
  background-color:var(--gris);
}
.mat-expansion-panel-header{
  border-bottom:1px solid var(--font);
  font-weight: 100 !important;
}
.mat-expansion-panel-header-title h5{
  font-weight: 400;
}
.mat-expansion-panel-header-title > * > *{
  margin-right:8px;
}
.mat-expansion-panel-header-description > *{
  flex:1;
  text-align: right;
}
.mat-expansion-panel-body{
  /* overflow:hidden !important; */
  transform: translate(0, 0);
}
.mat-mdc-option .mdc-list-item__primary-text article{
  display:flex;
  flex-flow:column nowrap;
  padding:10px;
}
.mat-mdc-option .mdc-list-item__primary-text{
  display:flex;
  flex-flow:row nowrap;
}
article.panneau > div {
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
}
article.panneau > div h5 {
  margin:15px 0 5px;
}
.mat-mdc-tab-body {
  padding-top:30px;
}

.mat-mdc-radio-button img {
  width:50px;
}
/* ANIMATIONS */
.fade-in {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clair);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--jaune);

  border: none;
}
