<header>
    <h1>{{ l.t['RCREATURES'] }} ({{ d.campagne!.nom }})</h1>
    <p>{{ l.t['RCREATURES_DESCR'] }}</p>
</header>
<section class="fenetres wrap">
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
          </nav>
        <header>
            <h3>{{ l.t['RACES'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['PV_MAX'] }}</td>
                    <td>{{ l.t['ARMURE'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (r of d.docs.races; track r.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ r.nom }}</td>
                    <td>{{ r.basePv }}</td>
                    <td>{{ r.baseArmure }}</td>
                    <td>
                        <div class="row">
                            <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                            <a><img src="assets/images/pictos/up.png" [alt]="l.t['VALIDE']"></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
          </nav>
        <header>
            <h3>{{ l.t['MONSTRES'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['PV_MAX'] }}</td>
                    <td>{{ l.t['ARMURE'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (m of d.docs.monstres; track m.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ m.nom }}</td>
                    <td>{{ m.basePv }}</td>
                    <td>{{ m.baseArmure }}</td>
                    <td>
                        <div class="row">
                            <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                            <a><img src="assets/images/pictos/up.png" [alt]="l.t['VALIDE']"></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
          </nav>
        <header>
            <h3>{{ l.t['ANIMAUX'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['PV_MAX'] }}</td>
                    <td>{{ l.t['ARMURE'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (a of d.docs.animaux; track a.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ a.nom }}</td>
                    <td>{{ a.basePv }}</td>
                    <td>{{ a.baseArmure }}</td>
                    <td>
                        <div class="row">
                            <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                            <a><img src="assets/images/pictos/up.png" [alt]="l.t['VALIDE']"></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    <article>
        <nav class="options">
          <a [matTooltip]="l.t['VALIDE']"><mat-icon matSuffix class="icone valide">add</mat-icon></a>
          </nav>
        <header>
            <h3>{{ l.t['MONTURES'] }}</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td>{{ l.t['NOM'] }}</td>
                    <td>{{ l.t['IMPACT'] }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (m of d.docs.montures; track m.id) {
                <tr>
                    <td><mat-checkbox></mat-checkbox>{{ m.nom }}</td>
                    <td>{{ m.impact }}</td>
                    <td>
                        <div class="row">
                            <a><img src="assets/images/pictos/del.png" [alt]="l.t['ANNULE']"></a>
                            <a><img src="assets/images/pictos/up.png" [alt]="l.t['VALIDE']"></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </article>
</section>
